.education {
  padding-bottom: 100px;
  padding: 80px 40px 40px 40px;
  margin: 0px 200px;
}

.education-details {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 80px;

  align-items: start;
}

.education-details-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.education-details-left p {
  font-size: 28px;
  font-weight: 250;
}

.education-details-left p:last-child {
  font-size: 20px;
}

.education-details-left h1 {
  font-family: Poppins;
  font-size: 44px;
  font-weight: 300;
}

.education-details-right p {
  line-height: 32px;
  font-size: 20px;
  text-align: justify;
}

.education-desc {
  display: flex;
  flex-direction: column;
  gap: 62px;
  margin-top: 100px;
}

.education-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 64px 0px 64px;
  margin-bottom: 100px;
}

.education-desc-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.education-desc-img img {
  width: 100%;
  border-radius: 26px;
}

.education-details-left-below p {
  font-size: 30px;
  font-weight: 250;
}

.dev-student-club {
  display: flex;
  padding: 64px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 100px;
}

.dsc-heading {
  color: #848282;
  font-weight: 400;
  font-size: 32px;
}

.dev-student-club p {
  text-align: justify;
}

.dsc-img {
  width: 80%;
  border-radius: 64px;
}

.dsc-videos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.dsc-videos img {
  width: 30%;
}
